$primary: #024b30;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, hsla(158, 95%, 15%, 0.75) 0%, hsla(110, 47%, 49%, 0.6) 48%, hsla(89, 100%, 84%, 0.75) 95%);
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.startButton {
  cursor: pointer;
  background-color: $primary;
  color: white;
  border-radius: 0.2rem;
  border: transparent;
  padding: 1rem 1rem;
  font-weight: 550;
  font-size: 1.1rem;

  &:hover {
    opacity: 90%;
  }
}

.header {
  color: $primary;
  margin-bottom: 5;
}

.header2 {
  font-weight: 400;
  margin-top: 0;
}

.input {
  border-color: $primary;
  border: 2px solid $primary;
  width: 20%;
  padding: 8px 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  border-radius: 4px;

  &:focus {
    border: 4px solid $primary;
  }
}